@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* fonts.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src:
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
    format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
    format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
    format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
    format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
    format("svg");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
figure {
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  border-width: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  font-weight: 700;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  padding: 5px;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

/* CSS Resets */

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 604px;
  top: 0;
  left: calc(50% - 375px / 2);
  background-color: #e5e5e5;
}

/* Start Nav bar */

.topnav {
  overflow: hidden;
  background-color: #6070ff;
  position: relative;
  z-index: 1;
  color: #f7f7f9;
}

/* Hide the links inside the navigation menu (except for logo/home) */

.top-nav .myLinks {
  display: none;
}

/* Style navigation menu links */

.top-nav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

/* Style the hamburger menu */

.top-nav a.icon {
  background: #f7f7f9;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.my-logo {
  font-family: sans-serif;
  font-weight: 900;
}

/* Add a grey background color on mouse-over */

.top-nav a:hover {
  background-color: #ddd;
  color: #6070ff;
  cursor: pointer;
  text-decoration: #6070ff;
}

/* Style the active link (or home/logo) */

.active {
  background-color: #f7f7f9;
  color: #6070ff;
  font-weight: 700;
  font-size: 30px;
  width: 375px;
  height: 50px;
  top: auto;
}

/* End of-Nav bar */

/*  Headline-section  */
.Portfolio-main {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
}

.Portfolio-main.layout {
  position: relative;
  overflow: hidden;
  min-height: 5410px;
  flex-shrink: 0;
}

.Portfolio-section1 {
  display: flex;
  flex-direction: column;
  background: url(./img/bg1.png) center center/contain no-repeat;
}

.Portfolio-section1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Portfolio-flex {
  display: flex;
  flex-direction: column;
  background: url(./img/backgroung.png) no-repeat;
}

.Portfolio-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 15px;
}

.Portfolio-flex1 {
  display: flex;
}

.Portfolio-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 0 0 17px;
}

.Portfolio-text-body2 {
  display: flex;
  justify-content: center;
  font: 500 14px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0;
}

.Portfolio-text-body2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Portfolio-flex1-spacer {
  flex: 0 1 230px;
}

.Portfolio-image7 {
  background: url() center center/contain no-repeat;
}

.Portfolio-image7.layout {
  position: relative;
  height: 12px;
  width: 18px;
  min-width: 18px;
  margin: 4px 0;
}

.Portfolio-hero-title-box {
  display: flex;
  align-items: center;
}

h1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 9px 0;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 0;
  font: 700 40px/1.3 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.Portfolio-highlights2 {
  font: 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Portfolio-highlights2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 35px 9px 0;
}

.Portfolio-highlights3 {
  font: 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #7f8cff;
  letter-spacing: 0;
}

.Portfolio-highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 9px 0;
}

.Portfolio-icon .layout {
  display: flex;
  flex-direction: row;
}

.Portfolio-flex3 {
  display: flex;
}

.Portfolio-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 9px 120px;
}

.Portfolio-flex3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 20px;
}

.Portfolio-icon.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170.17px;
  height: 20px;
}

.Portfolio-icon {
  background: var(--src) center center/contain no-repeat;
  font-size: 30px;
}

.fa {
  text-decoration: none;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: blue;
}

.fa-facebook-f {
  color: #4267b2;
}

/* Star of work-section */

/* WorkCard1 */

.grid-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
}

.Work-card1-section2 {
  display: flex;
  flex-direction: column;
}

.Work-card1-section2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card1-block5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px 16px 16px 16px;
}

.Work-card1-block5.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 114px 24px 0;
}

.Work-card1-flex4 {
  display: flex;
  flex-direction: column;
}

.Work-card1-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
}

.Work-card1-image6 {
  background: url(./img/Work-card.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
}

.Work-card1-image6.layout {
  position: relative;
  height: 220px;
}

.Work-card1-big-title {
  font: 700 32px/1.37 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
}

.Work-card1-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card1-flex5 {
  display: flex;
}

.Work-card1-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card1-text-body {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card1-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card1-flex5-spacer {
  flex: 0 1 11px;
}

.Work-card1-flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Work-card1-icon2 {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
}

.Work-card1-icon2.layout {
  position: relative;
  height: 8px;
  width: 8px;
  min-width: 8px;
  margin: 4px 0;
}

.Work-card1-flex5-spacer1 {
  flex: 0 1 12px;
}

.Work-card1-text-body1 {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #7a869a;
  letter-spacing: 0;
}

.Work-card1-text-body1.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card1-flex5-spacer2 {
  flex: 0 1 10px;
}

.Work-card1-flex5-spacer3 {
  flex: 0 1 12px;
}

.Work-card1-highlights6 {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card1-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0 0;
}

.Work-card1-flex6 {
  display: flex;
}

.Work-card1-text-body1.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 180px;
  margin: 12px 0;
  order: 0;
  flex-grow: 0;
}

.item1 {
  padding: 4px 12px;
  text-align: center;
  position: static;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item1:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.item2 {
  padding: 4px 12px;
  position: static;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  order: 1;
  cursor: pointer;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.item3 {
  padding: 4px 12px;
  position: static;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  order: 2;
  cursor: pointer;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item3:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card1-block9 {
  display: flex;
  flex-direction: column;
  border: 1px solid #6070ff;
  border-radius: 8px 8px 8px 8px;
}

.Work-card1-block9.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 42.03%;
  margin: 24px 57.97% 12px 0%;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
}

.button1:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card1-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 10px;
}

.Work-card1-block9.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

/* End of WorkCard1 */

/* WorkCard2 */

.Work-card2-section3 {
  display: flex;
  flex-direction: column;
}

.Work-card2-section3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card2-block10 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px 16px 16px 16px;
}

.Work-card2-block10.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 88px 24px 0;
}

.Work-card2-flex7 {
  display: flex;
  flex-direction: column;
}

.Work-card2-flex7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
}

.Work-card2-image6 {
  background: url(./img/WorkCard1.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
}

.Work-card2-image6.layout {
  position: relative;
  height: 220px;
}

.Work-card2-big-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card2-big-title {
  overflow: visible;
  margin-top: 0;
  margin-bottom: 0;
  font: 700 32px/1.37 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.Work-card2-flex5 {
  display: flex;
}

.Work-card2-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card2-text-body {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card2-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card2-flex5-spacer {
  flex: 0 1 10px;
}

.Work-card2-flex5-item {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Work-card2-icon2.layout {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
  position: relative;
  height: 8px;
  width: 8px;
  min-width: 8px;
  margin: 4px 0;
}

.Work-card2-flex5-spacer1 {
  flex: 0 1 12px;
}

.Work-card2-text-body1 {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #7a869a;
  letter-spacing: 0;
}

.Work-card2-text-body1.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card2-text-body1.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card2-flex5-spacer2 {
  flex: 0 1 12px;
}

.Work-card2-highlights6 {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card2-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 224px;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.item-html {
  padding: 4px 12px;
  text-align: center;
  position: static;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500px;
  margin: 0 08px;
}

.item-html:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.item-css {
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item-css:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.item-javascript {
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 8px;
  color: #6070ff;
  font-weight: 500px;
}

.item-javascript:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card2-flex6-spacer {
  flex: 0 1 8px;
}

.Work-card2-flex6-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 45px;
}

.Work-card2-block7 {
  display: flex;
  flex-direction: column;
  background-color: #ebebff;
  border-radius: 8px 8px 8px 8px;
}

.Work-card2-block7.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card2-flex6-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 89px;
}

.Work-card2-block8 {
  display: flex;
  flex-direction: column;
  background-color: #ebebff;
  border-radius: 8px 8px 8px 8px;
}

.Work-card2-block8.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card2-small-text-body.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 10px 4px 12px;
}

.Work-card2-block9 {
  display: flex;
  flex-direction: column;
  border: 1px solid #6070ff;
  border-radius: 8px 8px 8px 8px;
  left: 0;
}

.Work-card2-block9.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 42.03%;
  margin: 24px 57.97% 12px 0%;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
}

.button2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card2-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 10px;
}

/* End of WorkCard2 */

/* WorkCard3 */

.Work-card3-section4 {
  height: -moz-min-content;
  height: min-content;
}

.Work-card3-block5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px 16px 16px 16px;
}

.Work-card3-block5.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 88px 24px 0;
}

.Work-card3-flex10 {
  display: flex;
  flex-direction: column;
}

.Work-card3-flex10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
}

.Work-card3-image6 {
  background: url(./img/WorkCard2.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
}

.Work-card3-image6.layout {
  position: relative;
  height: 220px;
}

.Work-card3-big-title {
  font: 700 32px/1.37 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
}

.Work-card3-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card3-flex5 {
  display: flex;
}

.Work-card3-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card3-text-body {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card3-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card3-flex5-spacer {
  flex: 0 1 10px;
}

.Work-card3-flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Work-card3-icon2 {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
}

.Work-card3-icon2.layout {
  position: relative;
  height: 8px;
  width: 8px;
  min-width: 8px;
  margin: 4px 0;
}

.Work-card3-flex5-spacer1 {
  flex: 0 1 12px;
}

.Work-card3-text-body1 {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #7a869a;
  letter-spacing: 0;
}

.Work-card3-text-body1.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card3-text-body1.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card3-flex5-spacer2 {
  flex: 0 1 12px;
}

.Work-card3-highlights6 {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card3-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 20px 0 0;
}

.Work-card3-flex6 {
  display: flex;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: static;
  width: 203px;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.html-2 {
  align-items: center;
  padding: 4px 12px;
  position: statsic;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  order: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  font-weight: 500px;
  color: #6070ff;
  margin: 0 8px;
}

.html-2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.css-2 {
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  font-weight: 500px;
  color: #6070ff;
  flex-grow: 0;
  margin: 0 8px;
}

.css-2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.javascript-2 {
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  font-weight: 500px;
  color: #6070ff;
  flex-grow: 0;
  margin: 0 8px;
}

.javascript-2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card3-block9 {
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
  border-radius: 8px;
}

.Work-card3-block9.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  margin: 0 8px;
  width: 42.03%;
}

.button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
}

.button3:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card3-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 10px;
}

/* End of WorkCard3 */

/* WorkCard4 */

.Work-card4-section5 {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.Work-card4-section5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card4-block10 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px 16px 16px 16px;
}

.Work-card4-block10.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 88px 24px 0;
}

.Work-card4-flex13 {
  display: flex;
  flex-direction: column;
}

.Work-card4-flex13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
}

.Work-card4-image6 {
  background: url(./img/WorkCard3.png) center center/contain no-repeat;
  border-radius: 8px 8px 8px 8px;
}

.Work-card4-image6.layout {
  position: relative;
  height: 220px;
}

.Work-card4-big-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Work-card4-big-title {
  overflow: visible;
  margin-top: 0;
  margin-bottom: 0;
  font: 700 32px/1.37 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.Work-card4-flex5 {
  display: flex;
}

.Work-card4-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0;
}

.Work-card4-text-body {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Work-card4-text-body.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card4-flex5-spacer {
  flex: 0 1 10px;
}

.Work-card4-flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Work-card4-icon2 {
  background: url(./img/Mobile-icon.png) center center/contain no-repeat;
}

.Work-card4-icon2.layout {
  position: relative;
  height: 8px;
  width: 8px;
  min-width: 8px;
  margin: 4px 0;
}

.Work-card4-flex5-spacer1 {
  flex: 0 1 12px;
}

.Work-card4-text-body1 {
  font: 600 13px/1.23 "Poppins", Helvetica, Arial, serif;
  color: #7a869a;
  letter-spacing: 0;
}

.Work-card4-text-body1.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card4-text-body1.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card4-flex5-spacer2 {
  flex: 0 1 12px;
}

.Work-card4-highlights6 {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.grid-container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 224px;
  flex: none;
  order: 0;
  margin: 12px 0;
}

.html-3 {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500px;
  color: #6070ff;
  flex-grow: 0;
  margin: 0 8px;
  order: 0;
}

.html-3:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.css-3 {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex-grow: none;
  font-weight: 500px;
  color: #6070ff;
  order: 1;
  margin: 0 8px;
}

.css-3:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.javascript-3 {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  position: static;
  font-weight: 500px;
  color: #6070ff;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 8px;
}

.javascript-3:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card4-flex6-spacer {
  flex: 0 1 8px;
}

.Work-card4-flex6-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 45px;
}

.Work-card4-block7 {
  display: flex;
}

.Work-card4-block7.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card4-flex6-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 89px;
}

.Work-card4-block8 {
  display: flex;
  flex-direction: column;
  background-color: #ebebff;
  border-radius: 8px 8px 8px 8px;
}

.Work-card4-block8.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Work-card4-small-text-body.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 10px 4px 12px;
}

.Work-card4-block9 {
  display: flex;
  flex-direction: column;
  border: 1px solid #6070ff;
  border-radius: 8px 8px 8px 8px;
}

.Work-card4-block9:hover {
  background-color: #002ead;
  opacity: 0.7;
  color: white;
}

.Work-card4-block9.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 42.03%;
  margin: 24px 57.97% 12px 0%;
}

.button4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  padding: 5px;
}

.button4:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Work-card4-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 10px;
}

/* End f WorkCard4 */

/* End of Work-section */

/* Aboutme-section */

.Aboutme__section6 {
  display: flex;
  flex-direction: column;
}

.Aboutme-section6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Aboutme-cover-block1 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Aboutme-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 114px 0 0;
}

.Aboutme-flex16 {
  display: flex;
  flex-direction: column;
}

.Aboutme-flex16.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 112.5px 24px;
}

.Aboutme-hero-title-box {
  display: flex;
  align-items: center;
}

.Aboutme-hero-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Aboutme-hero-title {
  overflow: visible;
  margin-top: 0;
  margin-bottom: 0;
  font: 700 40px/1.3 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.Aboutme-highlights2 {
  font: 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #344563;
  letter-spacing: 0;
}

.Aboutme-highlights2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10.5px 0 0;
}

.Aboutme-highlights3 {
  font: 500 16px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #7f8cff;
  letter-spacing: 0;
}

.Aboutme-highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 0 0;
}

.Aboutme-image3 {
  background: var(--src) center center/contain no-repeat;
}

.Aboutme-image3.layout {
  position: relative;
  height: 40px;
  width: 61.16%;
  margin: 16px 38.84% 0 0%;
}

.Aboutme-block1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #6070ff;
  border-radius: 8px 8px 8px 8px;
}

.Aboutme-block1.layout {
  display: flex;
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 49.54%;
  margin: 24px 24px;
}

.Aboutme-block1.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.buttton5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 17px/1.41 "Poppins", Helvetica, Arial, serif;
  color: #386df2;
  text-align: center;
  letter-spacing: 0.51px;
  padding: 5px;
}

.button5:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 10px;
}

.Aboutme-flex17 {
  display: flex;
}

.Aboutme-flex17.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 48px 12px 0;
}

.Aboutme-subtitle {
  display: flex;
  align-items: center;
  font: 500 20px/1.2 "Poppins", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0;
}

.Aboutme-subtitle.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.Aboutme-flex17-spacer {
  flex: 0 1 132px;
}

.Aboutme-flex17-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 14px;
}

.Aboutme-image4 {
  background: url() center center/contain no-repeat;
  font-size: 30px;
}

img:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-block2 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 8px 8px 8px 8px;
}

.Aboutme-block2.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 36px 12px 0;
}

.Aboutme-block2.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-flex18 {
  display: flex;
}

.Aboutme-flex18.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 9px 12px;
}

.Aboutme-flex18-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 48px;
}

.Aboutme-icon1 {
  background: url() center center/contain no-repeat;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.Aboutme-icon1.layout {
  position: relative;
  height: 48px;
  width: 48px;
  min-width: 48px;
  margin: 0 0 1px;
}

.Aboutme-flex18-spacer {
  flex: 0;
}

.Aboutme-highlights5 {
  display: flex;
  align-items: center;
  font: 500 15px/1.33 "Poppins", Helvetica, Arial, serif;
  color: #253858;
  letter-spacing: 0;
}

.Aboutme-highlights5.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 140px 15px 0;
}

.Aboutme-highlights5.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-highlights5.layout1 {
  position: relative;
  flex: auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 173px 14px 0;
}

.Aboutme-highlights5.layout1:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-block3 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 8px 8px 8px 8px;
}

.Aboutme-block3.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 12px 0;
}

.Aboutme-block3.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-flex19 {
  display: flex;
}

.Aboutme-flex19.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 9px 12px;
}

.Aboutme-flex19-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 48px;
}

.Aboutme-icon1.layout1 {
  position: relative;
  height: 48px;
  width: 48px;
  min-width: 48px;
}

.Aboutme-flex19-spacer {
  flex: 0 1 16px;
}

.Aboutme-highlights5.layout2:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-block4 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 8px 8px 8px 8px;
}

.Aboutme-block4.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px 12px 0;
}

.Aboutme-block4.layout2 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 182px 15px 0;
}

.Aboutme-block4.layout:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.Aboutme-flex21 {
  display: flex;
}

.Aboutme-flex21.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 36px 12px 0;
}

.Aboutme-flex21-spacer {
  flex: 0 1 139px;
}

.Aboutme-flex21-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 8px;
}

.Aboutme-image5 {
  background: var(--src) center center/contain no-repeat;
}

.Aboutme-image5.layout {
  position: relative;
  height: 14px;
  width: 8px;
  min-width: 8px;
  margin: 40px 0;
}

.Aboutme-line {
  background-color: #dfe1e6;
}

.Aboutme-line.layout {
  position: relative;
  height: 1px;
  margin: 23px 0 0;
}

.Aboutme-flex21.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 24px 12px 0;
}

.Aboutme-flex21-spacer1 {
  flex: 0 1 213px;
}

.Aboutme-line.layout1 {
  position: relative;
  height: 1px;
  margin: 23px 0 139.5px;
}

/* End-of-Aboutme */

/* Contact me */

.contactme-section7 {
  display: flex;
  flex-direction: column;
}

.contactme-section7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.contactme-cover2 {
  background: url(./img/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #6070ff;
  color: white;
  padding: 10px;
  border-top-left-radius: 50px;
}

.contactme-cover2.layout {
  position: absolute;
  top: -138px;
  height: 850px;
  width: 100%;
  left: 0;
}

.contactme-hero-title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 40px/1.3 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0;
}

.contactme-hero-title1.layout {
  position: absolute;
  top: -33px;
  height: 52px;
  width: 250px;
  right: 62.5px;
}

.contactme-decorator {
  background: url() center center/contain no-repeat;
}

.contactme-decorator.layout {
  position: fixed;
  top: -4665px;
  height: 587px;
  width: 462px;
  right: -53px;
}

.contactme-image11 {
  background: url(./img/Shape.png) center center/contain no-repeat;
  padding: 5px;
}

.contactme-image11.layout {
  position: relative;
  margin: 680px 0 0;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
}

.contactme-cover-block5 {
  display: flex;
  flex-direction: column;
  background: url(./img/contact-cover2.png) center center/contain no-repeat;
}

.contactme-cover-block5.layout {
  position: absolute;
  top: 10px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 0;
  left: 5px;
  right: 0;
}

.contactme-subtitle1-box {
  display: flex;
  justify-content: center;
}

.contactme-subtitle1-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 24px 0 19px;
}

.contactme-subtitle1 {
  overflow: visible;
  margin: 0;
  font: 20px/1.4 "Poppins", Helvetica, Arial, serif;
  color: #ebebff;
  text-align: center;
  letter-spacing: 0;
  white-space: pre-wrap;
}

.contactme-cover-block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px 8px 8px 8px;
}

.name {
  font: 17px/1.17 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  position: relative;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  margin: 49px 24px 0 19px;
  width: 327px;
  height: 48px;
  left: 24px;
}

.mail {
  font: 17px/1.17 "Poppins", Helvetica, Arial, serif;
  color: #172b4d;
  position: relative;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  margin: 25px 24px 0 19px;
  width: 327px;
  height: 48px;
  left: 24px;
}

.user_message {
  font: 15px/1.6 "Poppins", Helvetica, Arial, serif;
  letter-spacing: 0;
  position: relative;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px 8px 8px 8px;
  margin: 18px 24px 0 19px;
  left: 24px;
  resize: none;
  box-sizing: border-box;
  width: 327px;
  height: 170px;
}

.sendtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px 16px;
  font-weight: 600px;
  color: #6070ff;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 24px;
  position: relative;
  width: 140px;
  height: 48px;
  left: 40px;
  top: 0;
  background: #fff;
  border-radius: 8px;
}

.sendtext:hover {
  background-color: #002ead;
  opacity: 0.7;
  transition: 0.7s;
  cursor: pointer;
  color: white;
}

.fixed-footer {
  position: fixed;
  width: 100%;
}

/* End of contact-form */
